.App {
  display: flex;
  &__container {
    position: absolute;
    left: 20%;

    @media all and (min-width: 2560px) {
      left: 30%;
    }
    &--title {
      font-family: 'Roboto', sans-serif;
      padding: 20px;
    }
  }
}
