.none {
  display: none;
}

.block {
  display: block;
}

.btn-code {
  border: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 600;
  background-color: white;
  margin-bottom: 10px;
}
