.kata1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  &__title {
    font-size: 28px;
    font-weight: 400;
    &--subtitle {
      font-family: 'Kalam';
    }
  }

  &__casingStrings {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
