.kata8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;

  &__title {
    font-family: 'Kalam';
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 0;
  }

  &__text {
    font-size: 22px;
  }

  &__generateHashtag {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
