.container {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  &__title {
    margin-bottom: 20px;
    font-size: 22px;
  }
  &__textarea {
    margin: 0;
    width: 485px;
    height: 170px;
    font-size: 22px;
  }
}
